footer{
    background-color: purple;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    padding: 1px;
    justify-items: center;
    text-align: center;
    overflow: auto;

}

.integrantes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Cambia el fondo de los artículos de integrantes a negro y el texto a blanco */
.integrante {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: auto;
    max-height: 20px;
}
