body{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    width:auto;
    overflow-x: hidden;
}
footer{
    background-color: purple;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    padding: 1px;
    justify-items: center;
    text-align: center;
    left: 10px;
    right: 10px;
}

.integrantes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Cambia el fondo de los artículos de integrantes a negro y el texto a blanco */
.integrante {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}