
.navegador {margin-right: 20px;}
.canciones {
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
    height: 45px; /* Esto limita la altura del contenedor */
    width: 80vw;
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical */
    gap: 0px; /* Separación entre las celdas */
}

.rowSong{
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
   height: 45px; /* Esto limita la altura del contenedor */
    width: 80vw;
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical */
    gap: 0px; /* Separación entre las celdas */
}

.article-canciones {
    border: 1px solid rgba(255, 0, 0, 0.596);
    position: relative;
    text-align: center;
}
.imagenbajonav{
    max-height: 1%;
    text-align: justify;
    overflow: scroll;
    text-wrap: wrap;
}
.play-cancion{
    position: absolute;
    right: 50%;
    top: 20%;
}

.estrella-cancion{
    position: absolute;
    right: 10%;
}


.estrella-cancion{
    position: absolute;
    right: 1%;
    top: 3%;
}
.lorem{
    max-height: 10%;
    text-align: justify;
}
.reproductor{
    width: 90%;
}

.estrella-album{
    position: absolute;
    right: 1%;
    top: 3%;
}

/* Estilos para tablet (ancho máximo de 768px) */
@media screen and (max-width: 820px) {
    .container-canciones{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px 0px;
    }
    .canciones {
      margin-left: 0; /* Eliminar el margen izquierdo */
      margin-top: 0; /* Eliminar el margen superior */
      width: 100%; /* Cambiar el ancho de la sección de canciones */
      height: auto; /* Cambiar la altura a automática */
      margin: 20px;
    }
    iframe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20em;
        margin-top: 10%;
    }
  }
  