
html{
    height: 100%;
    width: auto;
    overflow-x: hidden;
    }
    body{
        background-color: black;
        color: purple;
        height: auto;
        margin: 0px;
        width: 100%;
        }
    header {
        grid-area: a;
    }
    main{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        padding: 1%;
        height: 70%;
    }
    article{
        padding: 1%;
    }

    iframe {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: 2% 0%;
        position: absolute;
        bottom: 0%;
    }
    
    /* Header */
    header{
        position: relative;
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    header span {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    
    h1{
        flex: 1;
        vertical-align: middle;
    }
    
    .premium{
        color: white;
        font-size: 2em;
    }

    h3{
        color: gray;
    }
    button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: purple;
        color: white;
        height: auto;
        width: auto;
        border:none;
        border-radius:2em 2em 2em 2em;
        text-align: center;
        align-items: center;
        text-decoration: none;
        padding: 1em 1em 1em 1em;
    }
    
    button:hover{
        background-color: white;
        color: purple;
    }
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        margin:1em;
    }
    
    .cerrarsesion{
        vertical-align: middle;
        width: auto;
    }
    
    .imgperfil{
        height: 50px;
        width: 50px;
        align-items: end;
        padding: 10px;
    }
    
    .imgperfil img {
        border: #000 2px solid;
    }
    .formulario{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
        
        /* Estilos para los enlaces */
    a {
    color: purple;
    display: block;
    }
    a:hover{
        color: white;
    }
    
    /* Estilos para pantallas más pequeñas (tabletas) */
    @media (max-width: 821px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        font-size: 2em;
        overflow-x: hidden;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .imagenplan img{
        height: 10em;
        width: 10em;
    }
    
    }
    
    /* Estilos para pantallas aún más pequeñas (smartphones) */
    @media screen and (max-width: 480px) {
    
    header {
        display: flex;
        flex-direction: column;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header span {
        align-items: center;
    }
    
    .albumes {
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(6, 1fr); 
    }
    
    }
    
    /* Estilos generales que aplican a todas las resoluciones */
    /* Agrega aquí tus estilos generales que aplican en todas las resoluciones */
    
    
    
    /* Resto de estilos específicos para esta vista */
    /* Agrega aquí los estilos específicos para esta vista */
    