header{
    position: relative;
    width: 75%;
    height: 120px;
    margin-left: 20%;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;
}

.buscador{
    position: relative;
    top: -60%;
}

.buscadorinput{
    width: 300px;
}

h2{
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
    top: -50%;
}

.cerrarsesion{
    display: inline-block;
    position: absolute;
    margin-right: 2px;
    width: auto;
    left: 50%;
    top: 40%;
}

.imgperfil{
    border: 1px solid black;
    display: block;
    position: absolute;
    right: 10%;
    top: 1%;
    width: 9%;
}

nav{
    position: absolute;
    width: 19%;
    top: 1px;
    height:20%;
    margin-bottom: 0%;
    z-index: 2;
}

ul{
    border: 1px solid black;
    height: 50%;
    margin: 0;
}

ul:hover {
    background-color: #992323; /* Cambia el color de fondo al pasar el mouse por encima */
}

li{
    list-style-type: none;
    margin-left: -14%;
    margin-top: 10%;
}

.sectionimgbajonav{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px black solid;
    margin-top: 15%;
    width: 19%;
    height: 300px;
    z-index: 1;
    overflow: hidden;
}

.imagenbajonav{
    position: relative;
    height: 100%;
    width: 100%;
}



.canciones {
    position: relative;
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
    grid-template-rows: repeat(10, 10%);
    margin-left: 20%;
    margin-top: -33%; /* Esto puede variar según tu diseño */
    height: 400px; /* Esto limita la altura del contenedor */
    width: 80%;
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical */
    gap: 0px; /* Separación entre las celdas */
    z-index: 1;
    border: 1px solid black;
}

.article-canciones {
    border: 1px solid red;
    position: relative;
    text-align: center;
}

.play-cancion{
    position: absolute;
    right: 50%;
    top: 20%;
}

.estrella-cancion{
    position: absolute;
    right: 10%;
}

.reproductor{
    border: 1px solid black;
    margin-left: 23%;
    width: 75%;
    height: 100px;
    z-index: 2;
}

.play{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}

.circle{
    position: absolute;
    margin-top: 2%;
    margin-left: 30%;
}

.square{
    position: absolute;
    margin-top: 2%;
    margin-left: 70%;
}

.estrella-cancion{
    position: absolute;
    right: 1%;
    top: 3%;
}

/* Estilos para tablet (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
    header {
      width: 100%; /* Cambiar el ancho del encabezado para ocupar toda la pantalla */
      margin-left: 0; /* Eliminar el margen izquierdo */
      justify-content: center; /* Centrar elementos en el encabezado */
    }
  
    h2 {
      width: auto; /* Reestablecer el ancho del nombre de usuario */
      margin-top: 10px; /* Agregar un espacio entre el título y el nombre de usuario */
    }
  
    .cerrarsesion {
      position: relative; /* Cambiar la posición a relativa */
      left: auto; /* Eliminar la posición izquierda */
      top: auto; /* Eliminar la posición superior */
      margin-top: 10px; /* Agregar un espacio entre el nombre de usuario y "Cerrar sesión" */
    }
  
    .imgperfil {
      width: 50px; /* Redimensionar la imagen de perfil */
      top: 10px; /* Aumentar la distancia superior */
    }
  
    nav {
      width: 100%; /* Cambiar el ancho de la barra de navegación */
      position: static; /* Cambiar la posición a estática */
    }
  
    ul {
      width: 100%; /* Asegurarse de que las listas ocupen todo el ancho */
      height: auto; /* Cambiar la altura a automática */
    }
  
    li {
      margin-left: 0; /* Eliminar el margen izquierdo */
      margin-top: 0; /* Eliminar el margen superior */
    }
  
    .sectionimgbajonav {
      width: 100%; /* Cambiar el ancho de la sección de imagen */
      margin-top: 0; /* Eliminar el margen superior */
    }
  
    .canciones {
      margin-left: 0; /* Eliminar el margen izquierdo */
      margin-top: 0; /* Eliminar el margen superior */
      width: 100%; /* Cambiar el ancho de la sección de canciones */
      height: auto; /* Cambiar la altura a automática */
    }

    footer{
        display: none;
    }
  }
  
  /* Estilos para smartphone (ancho máximo de 480px) */
  @media screen and (max-width: 480px) {
    header {
      height: 80px; /* Reducir la altura del encabezado */
    }
  
    h1 {
      font-size: 24px; /* Reducir el tamaño del título principal */
    }
  
    h2 {
      font-size: 16px; /* Reducir el tamaño del nombre de usuario */
    }
  
    .cerrarsesion {
      font-size: 14px; /* Reducir el tamaño del enlace "Cerrar sesión" */
    }
  
    .imgperfil {
      width: 30px; /* Redimensionar la imagen de perfil */
    }
  
    nav {
      height: auto; /* Cambiar la altura de la barra de navegación a automática */
    }
  
    ul {
      height: auto; /* Cambiar la altura de las listas a automática */
    }
  
    li {
      margin-left: 0; /* Eliminar el margen izquierdo */
      margin-top: 5px; /* Agregar un espacio entre los elementos de la lista */
    }
  
    .sectionimgbajonav {
      margin-top: 10px; /* Agregar un espacio entre la sección de imagen y la lista de canciones */
    }
  
    .canciones {
      margin-top: 0; /* Eliminar el margen superior */
      height: auto; /* Cambiar la altura de la sección de canciones a automática */
    }
  
    .article-canciones {
      font-size: 12px; /* Reducir el tamaño del texto de las canciones */
    }
  
    .play-cancion {
      top: 15px; /* Ajustar la posición de los íconos de reproducción */
    }
  
    .estrella-cancion {
      top: 5px; /* Ajustar la posición de los íconos de estrella */
    }

    footer{
        display: none;
    }
  }
  


  body {
    background-color: #000; /* Fondo negro */
    color: #800080; /* Texto en púrpura */
}

header {
    background-color: #800080; /* Fondo púrpura */
    color: #000; /* Texto en negro */
    border-color: #000; /* Borde en negro */
}


.sectionimgbajonav {
    border: 1px solid #800080; /* Borde en púrpura */
}

.canciones {
    border: 1px solid #800080; /* Borde en púrpura */
}

.reproductor {
    background-color: #800080; /* Fondo púrpura */
    border-color: #000; /* Borde en negro */
}

.play, .circle, .square {
  color: #000; /* Iconos en negro */
}

ul{
  border: 1px solid black;
}

a {
  display: flex;
  height: 100%;
  align-items: start;
  vertical-align: center;
}