
    header{
        position: relative;
        width: 75%;
        height: 120px;
        margin-left: 20%;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 55% 35% 10%;
        grid-template-rows: 50% 50%;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 20px;
    }


    .buscador{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .buscadorinput{
        width: 300px;
    }

    h1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        vertical-align: middle;
    }
    
    h2{
        position: relative;
        white-space: nowrap;
        overflow-x: visible;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        top: -50%;
        align-items: end;
        text-align: end;
        vertical-align: middle;
    }
    
    .cerrarsesion{
        display: inline;
        position: absolute;
        width: auto;
        padding-left: 40%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: end;
        align-items: end;
    }
    
    .imgperfil{
        border: 1px solid black;
        position: absolute;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 80%;
        height: auto;
        align-items: end;
    }
    
    nav{
        position: absolute;
        width: 19%;
        top: 1px;
        height:20%;
        margin-bottom: 0%;
        z-index: 2;
    }
    
    ul{
        border: 1px solid black;
        height: 50%;
        margin: 0;
    }

    ul:hover {
        background-color: #992323; /* Cambia el color de fondo al pasar el mouse por encima */
    }
    
    li{
        list-style-type: none;
        margin-left: -14%;
        margin-top: 10%;
    }
    
    .sectionimgbajonav{
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px black solid;
        margin-top: 15%;
        width: 19%;
        height: 300px;
        z-index: 1;
        overflow: hidden;
    }
    
    .imagenbajonav{
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    
    
    .albumes {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas de tamaño igual */
        grid-template-rows: repeat(4, 1fr); /* 4 filas de tamaño igual */
        margin-left: 20%;
        margin-top: -33%;
        gap: 10%;
        height: 480px;
        width: 80%;
        overflow: auto;
        gap: 10px;
        z-index: 1;
        border: 1px solid black;
    }
    
    .article-img {
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        padding: 18px;
        text-align: center;
        display: grid;
        gap: 1px 1px;
    }
    
    .img-albumes {
        width: 100%;
        height: 100%;
    }
    
    .reproductor{
        border: 1px solid black;
        margin-left: 23%;
        width: 75%;
        height: 100px;
        z-index: 2;
    }
    
    .play{
        position: absolute;
        margin-top: 2%;
        margin-left: 2%;
    }
    
    .circle{
        position: absolute;
        margin-top: 2%;
        margin-left: 30%;
    }
    
    .square{
        position: absolute;
        margin-top: 2%;
        margin-left: 70%;
    }

    
    .estrella-cancion{
        position: absolute;
        right: 1%;
        top: 3%;
    }
    
    .estrella-album{
        position: absolute;
        right: 10%;
        top: 10%;
    }

    /* Estilos para pantallas más pequeñas (tabletas) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    h1 {
        display: none;
    }

    h2 {
        width: 100%;
        white-space: normal;
        text-align: center;
    }

    .cerrarsesion {
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    .imgperfil {
        right: 5%;
        top: 5%;
        width: 15%;
        height: 90%;
    }

    .buscador {
        position: absolute;
        top: 0; /* Vuelve a la posición normal en tabletas */
        left: 0%;
        text-align: left; /* Centra el buscador */
    }

    .buscadorinput {
        width: 50%; /* Hacer que el campo de búsqueda ocupe todo el ancho disponible */
    }

    nav {
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    ul {
        margin-top: 0;
    }

    li {
        margin-left: 0;
        margin-top: 5%;
    }

    .sectionimgbajonav {
        width: 100%;
        margin-top: 5%;
    }

    .albumes {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        margin-top: 0;
        gap: 5px;
    }

    .reproductor {
        margin-left: 0;
        width: 100%;
    }

    footer {
        display: none;
    }

    .sectionimgbajonav {
        order: 3;
        margin-top: 20px;
    }


}

/* Estilos para pantallas aún más pequeñas (smartphones) */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 16px;
    }

    .cerrarsesion {
        display: block;
        margin: 10px auto;
    }

    .imgperfil {
        right: 5%;
        top: 5%;
        width: 15%;
    }

    .buscador {
        top: 0; /* Vuelve a la posición normal en smartphones */
        text-align: left; /* Centra el buscador */
    }

    .buscadorinput {
        width: 50%; /* Hacer que el campo de búsqueda ocupe todo el ancho disponible */
    }

    nav {
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    ul {
        margin-top: 0;
    }

    li {
        margin-left: 0;
        margin-top: 5%;
    }

    .sectionimgbajonav {
        width: 100%;
        margin-top: 5%;
    }

    .albumes {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .reproductor {
        width: 100%;
    }

    footer {
        display: none;
    }

    .sectionimgbajonav {
        order: 3;
        margin-top: 20px;
    }
}

/* Estilos generales que aplican a todas las resoluciones */
/* Agrega aquí tus estilos generales que aplican en todas las resoluciones */

/* Colores principales */
body {
    background-color: black; /* Fondo negro */
    color: purple; /* Texto en morado */
}

/* Estilos para los botones */
input[type="button"] {
    background-color: purple; /* Fondo morado */
    color: black; /* Texto en negro */
}

/* Estilos para los enlaces */
a {
    color: purple; /* Color morado para enlaces */
    display: flex;
    height: 100%;
    align-items: start;
    vertical-align: center;
}

/* Resto de estilos específicos para esta vista */
/* Agrega aquí los estilos específicos para esta vista */
