
html{
height: auto;
overflow-x: hidden;
}
body{
    background-color: black;
    color: purple;
    height: auto;
    margin: 0px;
    }
header {
    grid-area: a;
}
main{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5%;
    height: 100%;
}
article{
    padding: 1%;
}
footer{
    margin-top: 5%;
}
iframe {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Header */
header{
    position: relative;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

h1{
    flex: 1;
    vertical-align: middle;
}

h2{
    white-space: nowrap;
    vertical-align: middle;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: purple;
    color: white;
    height: auto;
    width: auto;
    border:none;
    border-radius:2em 2em 2em 2em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    padding: 1em 1em 1em 1em;
}

button:hover{
    background-color: white;
    color: purple;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap : 10px;
    margin: 20px;
}
.botones a {
    width: 130px;
    max-width: 30%;
}

.botones a button{
    width: 100%;
}

.cerrarsesion{
    vertical-align: middle;
    width: auto;
}

.imgperfil{
    height: 50px;
    width: 50px;
    align-items: end;
    padding: 10px;
}

.imgperfil img {
    border: #000 2px solid;
}

/* Cuerpo Principal */

.cuerpo-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 
/* Fin Cuerpo Principal */

/* Formulario */

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px
}
.formulario form {
    max-width: 500px;
    padding: 12px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
} 
.formulario article {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formulario article label {
    color: #000;
    width: 30%;
    text-align: left;
    flex: 1;
    padding-right: 1%;
}
.formulario article input {
    padding: 1%;
}
    
    /* Estilos para los enlaces */
a {
color: purple;
display: block;
}

a:hover{
    color: white;
}

/* Estilos para pantallas más pequeñas (tabletas) */
@media (max-width: 768px) {
.body {
    display: grid;
    grid-template-areas: "a"
                        "b"
                        "c"
                        "d";
}

.buscadorinput{
    width: 70%;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    width: 23%;
}

.albumes {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
}

}

/* Estilos para pantallas aún más pequeñas (smartphones) */
@media screen and (max-width: 480px) {

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    width: 100%;
    text-align: center;
}

header span {
    align-items: center;
}

.albumes {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
}

}

/* Estilos generales que aplican a todas las resoluciones */
/* Agrega aquí tus estilos generales que aplican en todas las resoluciones */



/* Resto de estilos específicos para esta vista */
/* Agrega aquí los estilos específicos para esta vista */
