.imgperfil {
    width: 80px;
}

.infoplan {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-top: 1%;
}

h2 {
    margin-right: 32%;
}

.imgplan {
    text-align: center;
    width: 50%;
    height: 200px;
    margin-left: 25%;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

input {
    width: 40%;
    padding: 5px;
}

article {
    display:flex;
    justify-content:space-around;
    margin-bottom: 1%;
}

/*
.tarjeta {
    position: absolute;
    margin-left: 20%;
}

.inputtarjeta {
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

.cvc {
    position: absolute;
    margin-left: 20%;
    margin-top: 5%;
}

.inputcvc {
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

.vto {
    position: absolute;
    margin-left: 60%;
}

.inputvto {
    margin-left: 100px;
    width: 200px;
    height: 20px;
}

.nombre {
    position: absolute;
    margin-left: 60%;
    margin-top: 5%;
}

.inputnombre {
    margin-left: 10px;
    width: 200px;
    height: 20px;
}
*/
.botonesPagar {
    width: 200px;
    height: 50px;
    margin-top: 50px;
}

.headerPerfil {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* Dos columnas del mismo ancho */
    grid-template-rows: auto auto;
    /* Dos filas del mismo alto */
    gap: 10px;
    /* Espacio entre las celdas */
    justify-content: end;
    /* Alinea al final de la pagina */
}

.nombreUsuario {
    grid-column: 1;
    /* Ocupa dos columnas completas */
}

.imagenPerfil {
    grid-column: 2;
    /* Ocupa la primera columna */
    display: flex;
    /* Para manejar la imagen dentro del 'a' */
    align-content: center;
    /* Para centrar la imagen del perfil */
    padding-left: 15px;
    padding-right: 15px;
}

.cerrarSesion {
    grid-column: 1;
    /* Ocupa la segunda columna */
    grid-row: 2;
    /* Ocupa la segunda fila */
}