
.navegador {margin-right: 20px;}
.canciones {
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
    grid-template-rows: repeat(10, 10%);
    height: 480px; /* Esto limita la altura del contenedor */
    width: 80vw;
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical */
    gap: 0px; /* Separación entre las celdas */
}

.article-canciones {
    border: 1px solid rgba(255, 0, 0, 0.596);
    position: relative;
    text-align: center;
}

.play-cancion{
    position: absolute;
    right: 50%;
    top: 20%;
}

.estrella-cancion{
    position: absolute;
    right: 10%;
}


.estrella-cancion{
    position: absolute;
    right: 1%;
    top: 3%;
}
.estrella-album{
    position: absolute;
    right: 1%;
    top: 3%;
}
.reproductor{
    width: 90%;
}

/* Estilos para tablet (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
  
    .canciones {
      margin-left: 0; /* Eliminar el margen izquierdo */
      margin-top: 0; /* Eliminar el margen superior */
      width: 100%; /* Cambiar el ancho de la sección de canciones */
      height: auto; /* Cambiar la altura a automática */
      margin: 20px;
    }
  
  }
  