h1{
    position: relative;
    text-align: right;
    margin-right: 10%;
    height: 20px;
}

.cerrarsesion{
    display: block;
    position: relative;
    margin-left: 73%;
    width: max-content;
}

.imgperfil{
    border: 1px solid black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1%;
    margin-right: 2%;
    width: 100px;
    height: 100px;
}

.infoplan{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-top: 1%;
}

h2{
    margin-right: 32%;
}

.imgplan{
    text-align: center;
    width: 50%;
    height: 200px;
    margin-left: 25%;
}

.formulario{
    text-align: center;
    margin-top: 1%;
}

article{
    margin-bottom: 1%;
}




.tarjeta{
    position: absolute;
    margin-left: 20%;
}

.inputtarjeta{
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

.cvc{
    position: absolute;
    margin-left: 20% ;
    margin-top: 5%;
}

.inputcvc{
    margin-left: 10px;
    width: 200px;
    height: 20px; 
}

.vto{
    position: absolute;
    margin-left: 60%;
}

.inputvto{
    margin-left: 100px;
    width: 200px;
    height: 20px;
}

.nombre{
    position: absolute;
    margin-left: 60%;
    margin-top: 5% ;
}

.inputnombre{
    margin-left: 10px;
    width: 200px;
    height: 20px;
}

.botones{
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%; 
}

.boton{
    margin-right: 10px;
    height: 40px;
    width: 400px;
}





